@media screen {
	  .autosuggestItem {
	    font-size: 11px;
	    font-weigth: normal;
	    border-bottom: 1px dotted;
	  }
	  .autosuggestItemRow {
	    margin: 2px 0 !important;
	  }
	  .autosuggestItemIcon {
	    font-size: 32px;
	    font-weight: normal;
	  }
	  .autosuggestItemLabel {
	    display: block;
	    font-size: 90%;
	    /* font-style: italic; */
	    padding: 0;
	    margin: 0;
	  }
	  .autosuggestItemValue {
	    display: block;
	    //font-weight: bold;
	    padding: 0;
	    margin: 0;
	    white-space: normal !important;
	    overflow-y: auto !important;
	  }
	
	  div#searchBox > div > ul.dropdown-menu {
	    max-height : 350px;
	    width: 100% !important;
	    overflow-y: auto;
	    overflow-x: hidden;
	  }
	
	   div#searchMateriale > div > ul.dropdown-menu {
	    max-height : 300px;
	    min-width : 800px !important;
	    max-width : 1200px !important;
	    overflow-y: auto;
	    overflow-x: hidden;
	  }
	  .left-panel {
	    float: left;
	  }
	
	  .left-panel img {
	    width: 48px;
	    height: 48px;
	    vertical-align: middle;
	  }
	
	  .right-panel {
	    float: left;
	    margin-left: 5px;
	    margin-top: 0px;
	  }
	
	  .right-panel span:first-child {
	    font-size: 14px;
	  }
	
	  .right-panel span:nth-child(2) {
	    font-size: 12px;
	    color: gray;
	  }
	
	  .right-panel span:nth-child(3) {
	    display: block;
	    font-size: 12px;
	    font-style: italic;
	  }
	
	  .right-panel span:nth-child(4) {
	    font-size: 12px;
	    color: gray;
	  }
	
	  .right-panel span:last-child {
	    display: block;
	    font-size: 12px;
	    font-style: italic;
	  }
	  
	  tags-input {
	  display: block;
	}
	tags-input *, tags-input *:before, tags-input *:after {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}
	  tags-input .host {
	  position: relative;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  height: 100%;
	}
	
	tags-input.ti-input-sm .tags, .input-group-sm tags-input .tags {
	   border-radius:unset;
	    border: 1px solid #ccc;
	}
	
	tags-input .tags.focused {
	  border: 1px solid #3c8dbc;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	  -webkit-box-shadow:unset;
	  -moz-box-shadow:unset;
	  box-shadow : unset;
	}
	
	tags-input.ng-invalid .tags {
	    -webkit-box-shadow:unset;
	  -moz-box-shadow:unset;
	  box-shadow : unset;
	  
	}
}