/***
etichetta-materiale.less

  - Foglio di stile per la formattazione delle etichette materiale utilizzato dalla direttiva 'etichettaMateriale'.
  - caratteristiche dinamiche in percentuale
***/
@media all {
  .etichetta-materiale {
    font-family: Calibri, Verdana, Lucida Grande, Lucida, Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    /***************colonna SX****************/
    /************colonna DX************/
  }
  .etichetta-materiale .colonna-sx {
    position: relative;
    width: 66%;
    min-width: 66%;
    max-width: 66%;
    min-height: 100%;
    max-height: 100%;
    text-align: left;
  }
  .etichetta-materiale .colonna-sx .id-sirti,
  .etichetta-materiale .colonna-sx .error-title {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    font-weight: bold;
    vertical-align: middle;
  }
  .etichetta-materiale .colonna-sx .error-title {
    text-align: center;
    text-transform: uppercase;
    line-height: initial;
    color: red;
  }
  .etichetta-materiale .colonna-sx .barcode,
  .etichetta-materiale .colonna-sx .error-message {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  .etichetta-materiale .colonna-sx .error-message {
    font-size: 2.5em;
    padding: 2% 4%;
    word-wrap: break-word;
    text-align: left;
    font-weight: bold;
    background-color: gold;
  }
  .etichetta-materiale .colonna-sx .info-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
  .etichetta-materiale .colonna-sx .info-container .info .info-label {
    display: inline-block;
    padding-right: 1mm;
  }
  .etichetta-materiale .colonna-sx .info-container .info .info-value {
    font-weight: bold;
  }
  .etichetta-materiale .colonna-dx {
    position: relative;
    float: right;
    width: 34%;
    min-width: 34%;
    min-height: 100%;
    max-height: 100%;
    text-align: center;
  }
  .etichetta-materiale .logo-sirti-container {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .etichetta-materiale .logo-sirti {
    margin-top: 0;
    width: 100%;
  }
  .etichetta-materiale .qrcode-container,
  .etichetta-materiale .error-icon-container {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .etichetta-materiale .qrcode {
    position: relative;
    width: 80%;
  }
  .etichetta-materiale .cur-date {
    position: relative;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    min-width: 100%;
    font-size: 0.8em;
  }
  .etichetta-materiale .error-icon-container {
    text-align: center;
  }
  .etichetta-materiale .error-icon-container {
    font-size: 25mm;
    line-height: 100%;
    color: red;
  }
  .etichetta-materiale.etichetta-materiale-error {
    background-color: #ffa;
  }
  /***
etichetta-micro.less

  - Foglio di stile per la formattazione delle etichette materiale utilizzato dalla direttiva 'etichettaMateriale' per formato micro.
  - 25x25
***/
  .etichetta-micro {
    font-family: Calibri, Verdana, Lucida Grande, Lucida, Arial, Helvetica, sans-serif;
    background-color: white;
  }
  .etichetta-micro .colonna-up {
    width: 100%;
    min-width: 100%;
    max-height: 50%;
    text-align: left;
    padding: 3px;
  }
  .etichetta-micro .logo-sirti-container {
    float: right;
    min-height: 100%;
    width: 50%;
    min-width: 50%;
    height: 100%;
    text-align: center;
    padding: 0 0 0 0;
  }
  .etichetta-micro .logo-sirti {
    float: right;
    width: 100%;
  }
  .etichetta-micro .id-sirti,
  .etichetta-micro .error-title,
  .etichetta-micro .error-icon-container {
    float: left;
    max-width: 50%;
    font-size: 13px;
    vertical-align: bottom;
    font-weight: bold;
    padding: 0;
  }
  .etichetta-micro .error-title {
    font-size: 6mm;
    text-align: left;
    text-transform: uppercase;
    line-height: inherit;
    color: red;
    vertical-align: bottom;
  }
  .etichetta-micro .error-message {
    font-size: 11px;
    padding: 1mm 2mm;
    text-align: center;
    font-weight: bold;
    background-color: gold;
  }
  .etichetta-micro .colonna-down {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .etichetta-micro .barcode,
  .etichetta-micro .error-message {
    width: 100%;
    height: 10mm;
    min-width: 100%;
    min-height: 10mm;
    max-width: 100%;
    max-height: 10mm;
  }
  .etichetta-micro .info-container {
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 3px;
  }
  .etichetta-micro .info {
    font-size: 8px;
    line-height: 8px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    text-align: left;
  }
  .etichetta-micro .info-container .info .info-label {
    display: inline-block;
    padding-right: 1mm;
  }
  .etichetta-micro .info-container .info .info-value {
    font-weight: bold;
  }
  .etichetta-micro.etichetta-micro-error {
    background-color: #ffa;
  }
}
@media print {
  /*DEFAULT*/
  .etichetta-materiale,
  .etichetta-grande {
    margin: 0 !important;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    height: calc(45vw);
    page-break-after: always;
  }
  .etichetta-materiale .barcode,
  .etichetta-grande .barcode {
    margin: 0 auto;
    padding-top: 1%;
  }
  .etichetta-materiale .id-sirti,
  .etichetta-grande .id-sirti,
  .etichetta-materiale .error-title,
  .etichetta-grande .error-title {
    padding-left: 2%;
    font-size: calc(10vw);
    line-height: calc(10.4vw);
  }
  .etichetta-materiale .error-title,
  .etichetta-grande .error-title {
    font-size: calc(9vw);
  }
  .etichetta-materiale .logo-sirti,
  .etichetta-grande .logo-sirti {
    width: 100%;
    padding-right: 6.5%;
    padding-left: 6.5%;
    padding-bottom: 4%;
    padding-top: 3%;
  }
  .etichetta-materiale .qrcode,
  .etichetta-grande .qrcode {
    width: 87.5%;
  }
  .etichetta-materiale .error-message,
  .etichetta-grande .error-message {
    font-size: calc(9vw);
    padding: 0 0% 0 0%;
  }
  .etichetta-materiale .info-container,
  .etichetta-grande .info-container {
    padding: 2%;
  }
  .etichetta-materiale .info,
  .etichetta-grande .info {
    font-size: calc(3.3vw);
    line-height: calc(4.2vw);
  }
  .etichetta-materiale .error-icon-container,
  .etichetta-grande .error-icon-container {
    font-size: calc(5vw);
  }
  .etichetta-materiale .cur-date,
  .etichetta-grande .cur-date {
    margin-top: -2px;
    font-size: calc(2.1vw);
  }
  /*ETICHETTA 25mm x 25mm*/
  .etichetta-micro {
    page-break-after: always;
    border: none;
    margin: 0 auto;
    min-width: 25mm;
    max-width: 25mm;
    min-height: 25mm;
    max-height: 25mm;
    padding: 1%;
    /*padding: 1% 2% 0 2%;*/
    border: 1px solid #f0f0f0;
  }
}
@media screen {
  .etichetta-materiale,
  .etichetta-grande {
    width: 100mm;
    height: 50mm;
    margin-top: 2mm;
    margin-bottom: 2mm;
    padding: 1% 3% 0 3%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .etichetta-materiale .id-sirti,
  .etichetta-grande .id-sirti,
  .etichetta-materiale .error-title,
  .etichetta-grande .error-title {
    font-size: 30pt;
    line-height: 30pt;
  }
  .etichetta-materiale .error-title,
  .etichetta-grande .error-title {
    font-size: 30pt;
  }
  .etichetta-materiale .barcode,
  .etichetta-grande .barcode {
    margin-top: 2%;
  }
  .etichetta-materiale .qrcode-container,
  .etichetta-grande .qrcode-container {
    padding: 4%;
  }
  .etichetta-materiale .error-icon-container,
  .etichetta-grande .error-icon-container,
  .etichetta-materiale .logo-sirti-container,
  .etichetta-grande .logo-sirti-container {
    padding: 2%;
  }
  .etichetta-materiale .info-container,
  .etichetta-grande .info-container {
    margin-top: 3%;
  }
  .etichetta-materiale .info,
  .etichetta-grande .info {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .etichetta-materiale .error-icon-container,
  .etichetta-grande .error-icon-container {
    font-size: 25mm;
  }
  .etichetta-materiale .cur-date,
  .etichetta-grande .cur-date {
    margin-top: 0px;
    font-size: 0.8em;
  }
  .etichetteListPrint,
  .etichetteListPrint * {
    page-break-after: always;
    visibility: hidden;
  }
  .etichetta-micro {
    margin: 0;
    min-width: 25mm;
    max-width: 25mm;
    min-height: 25mm;
    max-height: 25mm;
    padding: 0;
    /*border: 1px solid #f0f0f0;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
