@media print {
  html,
  body {
    padding: 0 !important;
    margin: 0 0 0 0 !important;
    /* i -3mm di margine sx servono per eliminare il margine di stampa del browser */
  }
  .non-printable {
    display: none;
  }
  [uib-popover-template-popup].popover,
  [uib-popover-popup].popover {
    display: none !important;
  }
  .zero-print-margin {
    padding: 0 !important;
    margin: -2mm !important;
  }
}
