<form name="fBonificaPratiche" class="non-printable" role="form" autocomplete="off" novalidate>
	<section id="SectionMain" class="content non-printable tail" ng-controller="gsBonificaPraticheCtrl">
		
		<div class="row" auto-resize-h
			auto-resize-h-event="windowResizeListener::resize"
			auto-resize-h-delta="100">
			<div class="col-lg-12 col-md-12 col-xs-12">
	
				<div class="box" style="border-top-color: {{coloreUI}} !important; background-color: white">
					<div class="box-header with-border">
						<div class="info-box {{coloreColUI}}">
							<span class="info-box-icon">
								<div>
									<!--<span class="badge badgeCustomB" style="color: {{coloreUI}};	border: solid 2px {{coloreUI}};">
										<i class="fa {{icon2UI}} dimIcona3"></i>
									</span>-->
									<i class="fa {{iconUI}} dimIcona1"></i>
								</div>
							</span>
						
							<div class="info-box-content">
								<span class="info-box-text">
									<h2 style="font-weight:bold;margin-top:0px;margin-bottom: 0px">{{labelUI}}</h2>
									<p>{{subLabelUI}}</p>
								</span>
								<span class="info-box-text" ng-if="false">
									<i class="fa fa-bar-chart" style="float: left;padding-right: 10px"><span class="fontPerc">&nbsp;:&nbsp;{{statisticheUI.PERC}} %</span></i>
									<i class="fa fa-archive" style="float: left"><span class="fontPerc">&nbsp;:&nbsp;{{statisticheUI.TOT}}</span></i>
								
								</span>
							</div><!-- /.info-box-content -->
						</div><!-- /.info-box -->
					</div>
					<div class="box-body">
						<div  class="box" style="border-top-color: {{coloreUI}} !important;">
							<xy-scroll-table></xy-scroll-table>
						</div>
					</div>
				</div>
				
			</div><!-- /.col -->
		</div><!-- /.row -->
	</section>
</form>