<div ng-include="'views/alerts.html'"></div>

<form name="fModalGestitaUfficioCtrl"  class="non-printable" role="form" autocomplete="off" novalidate>
	<div class="modal-header non-printable" ng-class="$ctrl.chiamante.color">
		<h3 class="modal-title" id="modal-title">Gestita D'Ufficio</h3>
	</div>
	<div class="modal-body non-printable uscita-merci" ng-class="$ctrl.cssSmall"	
		auto-resize-h
		auto-resize-h-event="windowResizeListener::resize"
		auto-resize-h-delta="530" id="modal-body" style="padding-bottom: 20px;">
		
		<div class="row">
			<div class="col-md-12">
				
				<form role="form">
							<div class="box-body">
								
								<div class="row" ng-if="false">
									<div class="col-sm-12" class="form-control" style="text-align: center;">	
										<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <translate>Loading...</translate>
									</div>
								</div>	
								
								<div class="row" ng-if="true">
									
									<form role="form">
										
										<div class="form-group">
											<label for="txt_causale">ESITO</label>
											<input type="text"
														 class="form-control"
														 id="txt_esito"
														 ng-disabled="true"
														 placeholder="digitare la causale..."
														 ng-model="$ctrl.item.ESITO">
										</div>
										
										<div class="form-group">
											<label for="txt_causale">CAUSALE</label>
											<input type="text"
														 class="form-control"
														 id="txt_causale"
														 placeholder="digitare la causale..."
														 ng-model="$ctrl.item.CAUSALE">
										</div>
										
									</form>

								</div>											

							</div>
				</form>
			
			</div>
		</div>

	</div>
	<div class="modal-footer non-printable" style="padding:5px;">
		<div class="box" style="padding:0px;margin:0px;border-top-color: {{$ctrl.chiamante.colorB}}">
			<div class="box-body" style="min-height: auto !important">
				
				<div class="row" ng-if="$ctrl.mostraLoaderUiModal">
					<div class="col-sm-12" class="form-control" style="text-align: center;">	
						<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <translate>Loading...</translate>
					</div>
				</div>	
				
				<div class="row" ng-if="!$ctrl.mostraLoaderUiModal">
					<!-- PULSANTIERA CONFIRM -->
					<div class="col-sm-6">
						<button style="float: left;" ng-disabled="!$ctrl.item.CAUSALE || $ctrl.mostraLoaderUiModal" class="btn bg-steelBlueTrasfS2S color-palette btn-sm"  type="button" ng-click="$ctrl.chiusuraHeaderPratica();">Salva <span class="glyphicon glyphicon-floppy-disk"></span></button>
					</div>	

					<div class="col-sm-6">
						<button style="float: right;" ng-disabled="$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn btn-default btn-sm"  type="button" ng-click="$ctrl.cancel()">Chiudi <span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>




	








