<div ng-include="'views/alerts.html'"></div>

<form name="fModalBonificaCtrl"  class="non-printable" role="form" autocomplete="off" novalidate>
	<div class="modal-header non-printable" ng-class="$ctrl.chiamante.color">
		<div class="row">
			<div class="col-md-8">
				<h4 class="modal-title" id="modal-title">Gestisci Body - ID_POLARYS: {{$ctrl.item.ID_POLARYS}} - ID SOURCE: {{$ctrl.item.ID_SOURCE}}</h4>
				<p>CAUSALE: {{$ctrl.item.CAUSALE}}</p>
			</div>
			<div class="col-md-4">
				<div class="input-group input-group-sm">
					<input tooltip-append-to-body="true"
							tooltip-placement="top-left"
							uib-tooltip="Filtra"
							ng-disabled="false"
							type="text"
							class="form-control input-sm"
							placeholder="Filtra..."
							ng-model="$ctrl.globalBodySearch"
							style="width: 300px !important;float: right;"
							>
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-search"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-body non-printable uscita-merci" ng-class="$ctrl.cssSmall"	
		auto-resize-h
		auto-resize-h-event="windowResizeListener::resize"
		auto-resize-h-delta="230" id="modal-body" style="padding-bottom: 5px;">
		
		<div class="row">
			<div class="col-md-12">
				
				<form role="form">
							<div class="box-body">
								
								<div class="row" ng-if="$ctrl.mostraLoaderUiModal">
									<div class="col-sm-12" class="form-control" style="text-align: center;">	
										<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <translate>Loading...</translate>
									</div>
								</div>	
								
								<div class="row" ng-if="!$ctrl.mostraLoaderUiModal">
									

									
									<div ng-repeat="itemPratica in listaDtaFiltered = ( $ctrl.dtaPratica | filter: $ctrl.globalBodySearch || undefined)" class="{{$ctrl.numeroEditPerRiga}}"
									ng-style="{'float: left !important': itemPratica.TDTA_ART !== '' , 'float: right !important': itemPratica.TDTA_ART === ''}">
										
										
										

										<!-- general form elements -->
										<div class="box {{itemPratica.classColore}}" style="background: {{itemPratica.sfondoColore}};">
											<div class="box-header with-border">
												<h3 class="box-title">{{itemPratica.TDTA_ART}}
												
													<i
														tooltip-append-to-body="true"
														tooltip-placement="top-left"
														uib-tooltip="Tipo HCONF: {{itemPratica.TIPO_HCONF}}"
														ng-class="{'glyphicon glyphicon-cog' :  itemPratica.TIPO_HCONF === 'CORE' ,
																				'glyphicon glyphicon-star' :  itemPratica.TIPO_HCONF === 'SPEC',
																				'glyphicon glyphicon-question-sign' :  (itemPratica.TIPO_HCONF !== 'CORE' && itemPratica.TIPO_HCONF !== 'SPEC')
																				}"></i>
												
												</h3>
												
												
											</div>
											<!-- /.box-header -->
											<!-- form start -->
											<form role="form">
												<div class="box-body" style="padding-bottom: 0px;padding-top: 5px;">
													<div class="form-group" ng-class= "{'has-error': itemPratica.errore, '': !itemPratica.errore}">
														
														<div class="row">
															<!-- sezione input -->	
															<div class="col-md-11" style="padding-top: 10px;">																
																<div class="input-group input-group-sm">
																	<span class="input-group-addon bg-light-blue color-palette" style="font-weight: bold;">
																		CS01
																	</span>
																	<!--<span class="input-group-addon bg-light-blue color-palette" style="font-weight: bold;" ng-if="$ctrl.mostraLoaderAutocomplete">
																		<img src="images/loader.gif" style="height: 14px !important" class="loaderTable-table">
																	</span>-->
																	<input
																		id="txt_dta_{{itemPratica.ETICHETTA_TDTA_ART}}_a"
																		ng-model="itemPratica.NOME_CAMPO"
																		typeahead-template-url="editCodiceCampoCs01Template.html"
																		uib-typeahead="nomeCampo as nomeCampo.CODICE_CAMPO_CS01 for nomeCampo in $ctrl.cercaNomeCampoCs01($viewValue)"
																		type="text"
																		class="form-control input-sm"
																		placeholder="Digita il valore"
																		ng-value=""
																		ng-model-options="{debounce: 500}"
																		typeahead-min-length = "1"
																		typeahead-editable="true"
																		typeahead-show-hint="true"
																		typeahead-append-to-body = "false"
																		ng-change="$ctrl.controllaCampo(itemPratica,'CS01')"
																		typeahead-on-select	= "$ctrl.controllaCampoCs01Selected($item, itemPratica)"
																		>
																	<span class="input-group-addon" ng-if="$ctrl.mostraLoaderAutocomplete && itemPratica.isModifyKey">
																			<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
																	</span>
																	
																</div>
																<div class="input-group input-group-sm">
																	<span class="input-group-addon bg-light-blue color-palette" style="font-weight: bold;padding-left: 19px;padding-right: 19px;">
																		<i ng-class="{'glyphicon glyphicon-calendar': ((itemPratica.NOME_CAMPO === 'DATA_1::D') || (itemPratica.NOME_CAMPO === 'DATA_1::H') ||
																		(itemPratica.NOME_CAMPO === 'DATA_2::D') || (itemPratica.NOME_CAMPO === 'DATA_2::H') || (itemPratica.NOME_CAMPO === 'TIMS01::D')
																		|| (itemPratica.NOME_CAMPO === 'TIMS01::H') || (itemPratica.NOME_CAMPO === 'TIMS02::D') || (itemPratica.NOME_CAMPO === 'TIMS02::H')
																		|| (itemPratica.NOME_CAMPO === 'TIMS01') || (itemPratica.NOME_CAMPO === 'TIMS02'))
																		,
																		'glyphicon glyphicon-edit' : ((itemPratica.NOME_CAMPO !== 'DATA_1::D') && (itemPratica.NOME_CAMPO !== 'DATA_1::H') &&
																		(itemPratica.NOME_CAMPO !== 'DATA_2::D') && (itemPratica.NOME_CAMPO !== 'DATA_2::H') && (itemPratica.NOME_CAMPO !== 'TIMS01::D')
																		&& (itemPratica.NOME_CAMPO !== 'TIMS01::H') && (itemPratica.NOME_CAMPO !== 'TIMS02::D') && (itemPratica.NOME_CAMPO !== 'TIMS02::H')
																		&& (itemPratica.NOME_CAMPO !== 'TIMS01') && (itemPratica.NOME_CAMPO !== 'TIMS02'))
																		}"></i>
																	</span>
																	
																	<!-- gestisco le date -->
																	<input ng-if="((itemPratica.NOME_CAMPO === 'DATA_1::D') || (itemPratica.NOME_CAMPO === 'DATA_1::H') ||
																		(itemPratica.NOME_CAMPO === 'DATA_2::D') || (itemPratica.NOME_CAMPO === 'DATA_2::H') || (itemPratica.NOME_CAMPO === 'TIMS01::D')
																		|| (itemPratica.NOME_CAMPO === 'TIMS01::H') || (itemPratica.NOME_CAMPO === 'TIMS02::D') || (itemPratica.NOME_CAMPO === 'TIMS02::H')
																		|| (itemPratica.NOME_CAMPO === 'TIMS01') || (itemPratica.NOME_CAMPO === 'TIMS02'))"
																			 type="text"
																			 class="form-control"
																			 id="txt_dta_{{itemPratica.ETICHETTA_TDTA_ART}}_b"
																			 placeholder="{{itemPratica.formatoLabel}}"
																			 uib-datepicker-popup="{{itemPratica.parseFormat}}"
																			 ng-model="itemPratica.VALORE_CAMPO"
																			 ng-change="$ctrl.controllaCampo(itemPratica,'VALORE')"
																			 >
																	
																	<!-- gestisco le stringhe -->
																	<input ng-if="((itemPratica.NOME_CAMPO !== 'DATA_1::D') && (itemPratica.NOME_CAMPO !== 'DATA_1::H') &&
																		(itemPratica.NOME_CAMPO !== 'DATA_2::D') && (itemPratica.NOME_CAMPO !== 'DATA_2::H') && (itemPratica.NOME_CAMPO !== 'TIMS01::D')
																		&& (itemPratica.NOME_CAMPO !== 'TIMS01::H') && (itemPratica.NOME_CAMPO !== 'TIMS02::D') && (itemPratica.NOME_CAMPO !== 'TIMS02::H')
																		&& (itemPratica.NOME_CAMPO !== 'TIMS01') && (itemPratica.NOME_CAMPO !== 'TIMS02'))"
																			 type="text"
																			 class="form-control"
																			 id="txt_dta_{{itemPratica.ETICHETTA_TDTA_ART}}_b"
																			 placeholder=""
																			 ng-model="itemPratica.VALORE_CAMPO"
																			 ng-change="$ctrl.controllaCampo(itemPratica,'VALORE')"
																			 >
																	
																	<!--<span class="input-group-addon">
																			<i class="glyphicon glyphicon-pencil"></i>
																	</span>-->
																	
																</div>
															</div>
																
															<!-- sezione bottoni operativi-->	
															<div class="col-md-1" >
																<div class="" style="float: right;" ng-if="!itemPratica.isNewEditBox">
																	<button ng-disabled="$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete"
																					class="btn btn-info btn-block btn-xs"
																					type="button"
																					tooltip-append-to-body="true"
																					tooltip-placement="top-left"
																					uib-tooltip="Annulla"
																					ng-click="$ctrl.anullaCampo();">
																					<span class="glyphicon glyphicon-repeat"></span>
																	</button>
																	<button ng-disabled="((!itemPratica.isModifyKey && !itemPratica.isModifyValue) ||
																					(itemPratica.isModifyKey && !itemPratica.isModifyValue)) ||
																					$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete"
																					class="btn btn-success btn-block btn-xs"
																					type="button"
																					tooltip-append-to-body="true"
																					tooltip-placement="top-left"
																					uib-tooltip="Modifica"
																					ng-click="$ctrl.modificaCampo(itemPratica);">
																					<span class="glyphicon glyphicon-ok"></span>
																	</button>
																	<button ng-disabled="((itemPratica.isModifyKey && itemPratica.isModifyValue) ||
																					(itemPratica.isModifyKey && !itemPratica.isModifyValue) ||
																					(!itemPratica.isModifyKey && itemPratica.isModifyValue)) ||
																					$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete"
																					class="btn btn-danger btn-block btn-xs"
																					type="button"
																					tooltip-append-to-body="true"
																					tooltip-placement="top-left"
																					uib-tooltip="Elimina"
																					ng-click="$ctrl.eliminaCampo(itemPratica)">
																					<span class="glyphicon glyphicon-trash"></span>
																	</button>
																</div>
																<div class="" style="float: right;" ng-if="itemPratica.isNewEditBox">
																	<button id="btn_annulla_add_nuovo_campo"
																					ng-disabled="$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete"
																					class="btn btn-info btn-block btn-xs"
																					type="button"
																					tooltip-append-to-body="true"
																					tooltip-placement="top-left"
																					uib-tooltip="Annulla"
																					ng-click="$ctrl.anullaCampo();">
																					<span class="glyphicon glyphicon-repeat"></span>
																	</button>
																	<button id="btn_salva_add_nuovo_campo"
																					ng-disabled="((!itemPratica.isModifyKey && !itemPratica.isModifyValue) ||
																					(itemPratica.isModifyKey && !itemPratica.isModifyValue)) ||
																					$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete"
																					class="btn btn-success btn-block btn-xs"
																					type="button"
																					tooltip-append-to-body="true"
																					tooltip-placement="top-left"
																					uib-tooltip="Salva"
																					ng-click="$ctrl.aggiungiCampo(itemPratica)">
																					<span class="glyphicon glyphicon-floppy-disk"></span>
																	</button>
																</div>
															</div>
														</div>
														

														
													</div><!-- /.from group -->

												</div>
												<!-- /.box-body -->
												<!--
												<div class="box-footer" style="float: right;" ng-if="!itemPratica.isNewEditBox">
													<button ng-disabled="$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn btn-info btn-xs"  type="button" ng-click="$ctrl.anullaCampo();">Annulla <span class="glyphicon glyphicon-repeat"></span></button>
													<button ng-disabled="((!itemPratica.isModifyKey && !itemPratica.isModifyValue) || (itemPratica.isModifyKey && !itemPratica.isModifyValue)) || $ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn btn-success btn-xs"  type="button" ng-click="$ctrl.modificaCampo(itemPratica);">Modifica <span class="glyphicon glyphicon-ok"></span></button>
													<button ng-disabled="((itemPratica.isModifyKey && itemPratica.isModifyValue) || (itemPratica.isModifyKey && !itemPratica.isModifyValue) || (!itemPratica.isModifyKey && itemPratica.isModifyValue)) || $ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn btn-danger btn-xs"  type="button" ng-click="$ctrl.eliminaCampo(itemPratica)">Elimina <span class="glyphicon glyphicon-trash"></span></button>
												</div>
												<div class="box-footer" style="float: right;" ng-if="itemPratica.isNewEditBox">
													<button id="btn_annulla_add_nuovo_campo" ng-disabled="$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn btn-info btn-xs"  type="button" ng-click="$ctrl.anullaCampo();">Annulla <span class="glyphicon glyphicon-repeat"></span></button>
													<button id="btn_salva_add_nuovo_campo" ng-disabled="((!itemPratica.isModifyKey && !itemPratica.isModifyValue) || (itemPratica.isModifyKey && !itemPratica.isModifyValue)) || $ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn btn-success btn-xs"  type="button" ng-click="$ctrl.aggiungiCampo(itemPratica)">Salva <span class="glyphicon glyphicon-floppy-disk"></span></button>
												</div>
												-->
												
											</form>
										</div>
										<!-- /.box -->

 

												
									</div>
								</div>											

							</div>
				</form>
			
			</div>
		</div>

	
	<script type="text/ng-template" id="editCodiceCampoCs01Template.html">
		<a>
			<div class="row" style="padding-left: 5px;padding-right: 5px">
				<div class="col-md-12">
					<!--<label>CODICE CAMPO CS01</label>-->
					<span style="min-height: 34px !important;display: block;white-space: normal;" ng-bind-html="match.model.CODICE_CAMPO_CS01"></span>
				</div>
			</div>
		</a>
	</script>
	
	</div>
	<div class="modal-footer non-printable" style="padding:5px;">
		<div class="box" style="padding:0px;margin:0px;border-top-color: {{$ctrl.chiamante.colorB}}">
			<div class="box-body" style="min-height: auto !important">
				<div class="row">
					<!-- PULSANTIERA CONFIRM -->
					<div class="col-sm-6">
						<button style="float: left;" ng-disabled="!$ctrl.abilitaBtnSottometti || $ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn bg-steelBlueTrasfS2S color-palette btn-sm"  type="button" ng-click="$ctrl.sottomettiHeaderPratica();">Sottometti <span class="glyphicon glyphicon-share-alt"></span></button>
						<button style="float: left;" ng-disabled="!$ctrl.abilitaBtnAggiungi || $ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn bg-steelBlueTrasfS2S color-palette btn-sm"  type="button" ng-click="$ctrl.creaNuovoItem();">Nuovo <span class="glyphicon glyphicon-plus"></span></button>
						<button style="float: left;" ng-disabled="!$ctrl.abilitaBtnIngaggio || $ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn bg-steelBlueTrasfS2S color-palette btn-sm"  type="button" ng-click="$ctrl.ingaggioCs01();">Ingaggio CS01</button>
					</div>	

					<div class="col-sm-6">
						<button style="float: right;" ng-disabled="$ctrl.mostraLoaderUiModal || $ctrl.mostraLoaderAutocomplete" class="btn btn-default btn-sm"  type="button" ng-click="$ctrl.cancel()">Chiudi <span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>




	








