<!-- Main content -->
<section class="content">

  <div class="error-page">
    <div class="row">
      <div class="col-md-12">

        <div class="col-md-2"></div>
        <div class="center-block col-md-8">
          <h1 class="headline text-red">Not Authorized</h1>

          <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

            <p>
              back to <a ui-sref="index" class="text-muted"><strong>Home</strong></a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<style>
  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
</style>
