
<div id="myTable" class="box-body table-responsive" auto-resize-h
	auto-resize-h-event="windowResizeListener::resize"
	auto-resize-h-delta="{{labelUI == 'RITIRI WIND'? 370 : labelUI == 'RICERCA DDT' || labelUI == 'GESTIONE GLS'? 395:330}}">
	<div class="fixed-header"><!-- ng-show="!mostraLoaderGrid" -->
		<table class="table table-bordered table-hover table-condensed table-scroll small">
			<thead>
				<!-- nomi delle colonne is-filterable-->
				<tr>
					<th resize conf-header="configGridUI" field="{{key}}" type="header" id="header" ng-if="configGridUI[key].visible" 
						ng-repeat="(key,value) in configGridUI" 
						class="{{configGridUI[key].color}}" nowrap  ng-style="value.icon && {'text-align': 'center'}">
						<span ng-if="key === 'FUNCTION'" ><i class="fa {{value.icon}}"></i></span>
						<span ng-if="key != 'FUNCTION'">
							<sirti-column-sort-and-filter
								ng-if="!configGridUI[key].enableFilter"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								>	
							</sirti-column-sort-and-filter>
							<sirti-column-sort-and-filter
								ng-if="configGridUI[key].enableFilter && configGridUI[key].filtered && configGridUI[key].orderable"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								is-filterable
								is-sortable
								sort-direction="{{sortDirection[configGridUI[key].name]}}"
								sort-position="{{sortOrderMap[configGridUI[key].name]}}"
								filter-text="{{filterText[configGridUI[key].name]}}"
								filter-operator="{{filterOperator[configGridUI[key].name]}}"
								apply-callback="applyFilterAndSort"
								flag-disable="totalItems == 0"
								>
							</sirti-column-sort-and-filter>
							<sirti-column-sort-and-filter
								ng-if="configGridUI[key].enableFilter && configGridUI[key].orderable && !configGridUI[key].filtered"
								ng-if="configGridUI[key].filtered"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								is-sortable
								sort-direction="{{sortDirection[configGridUI[key].name]}}"
								sort-position="{{sortOrderMap[configGridUI[key].name]}}"
								filter-text="{{filterText[configGridUI[key].name]}}"
								filter-operator="{{filterOperator[configGridUI[key].name]}}"
								apply-callback="applyFilterAndSort"
								flag-disable="totalItems == 0"
								>
							</sirti-column-sort-and-filter>
							<sirti-column-sort-and-filter
								ng-if="configGridUI[key].enableFilter && !configGridUI[key].orderable && configGridUI[key].filtered"
								ng-if="configGridUI[key].filtered"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								is-filterable
								filter-text="{{filterText[configGridUI[key].name]}}"
								filter-operator="{{filterOperator[configGridUI[key].name]}}"
								apply-callback="applyFilterAndSort"
								flag-disable="totalItems == 0"
								>
							</sirti-column-sort-and-filter>
							<i ng-if="value.icon" class="{{value.icon}}" tooltip-placement="bottom-left" uib-tooltip="{{value.iconTitle}}" style="font-size: 15px"></i>
						</span>
					</th>
				</tr>
				<!-- filtri colonna -->
				<tr>
					<th ng-show="configGridUI.FUNCTION.visible" style="text-align: left" nowrap>
						<input ng-show="configGridUI.FUNCTION.enableFilter" type="text" class="form-control input-sm editFilterGrid" placeholder="Cerca..." ng-model="search[configGridUI.FUNCTION.name]">
						<button	ng-if="labelUI == 'GESTIONE RICHIESTE'" type="button" class="btn btn-success btn-sm" tooltip-placement="bottom-left" uib-tooltip="Crea Nuova Richiesta" ng-click="openModalCreateNewRequestUI(null);" style="float: right"><i class="fa fa-plus"></i></button>						
						<button	tooltip-placement="top-left" uib-tooltip="Scarica in formato Excel" type="button" class="btn btn-default btn-sm" ng-click="exportToExcel();" ng-if="totalItems > 0 && (labelUI != 'RICERCA DDT' && labelUI != 'GESTIONE GLS' && labelUI != 'CAMBIO UBICAZIONE')" style="float: left;margin-right: 3px;"><i class="fa fa-file-excel-o"></i></button>
						
						<button	tooltip-placement="bottom-left" uib-tooltip="{{'Reset filter and grid refresh' | translate}}" type="button" class="btn btn-default btn-sm"  ng-click="getGrid();"><i class="fa fa-refresh"></i></button>
						<div  class="btn-group" uib-dropdown auto-close="outsideClick" tooltip-placement="top-left" uib-tooltip="{{'Mostra/Nascondi Colonne' | translate}}">
							<button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
								<i class="fa fa-columns"></i> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu scrollable-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li  role="menuitem" ng-repeat="(key,value) in configGridUI" ng-if="value.enabled && key !== 'FUNCTION' ">
									<div ng-if="value.divider" class="divider"></div>
									<a href="javascript:void(0)" ng-click="value.visible = !value.visible">
										<span class="text-muted"><input type="checkbox" ng-model="value.visible" ng-click="value.visible = !value.visible"> {{value.label}} </span>
									</a>
								</li>
							</ul>
						</div>
						
					</th>
					<th resize conf-header="configGridUI" field="{{key}}" type="header" ng-repeat="(key,value) in configGridUI" ng-if="key !== 'FUNCTION' && options.searchSingleColumn" ng-show="configGridUI[key].visible">
						<input ng-show="configGridUI[key].enableFilter" type="text" class="form-control input-sm" placeholder="Cerca..." ng-model="options.global[key]">
					</th>
				</tr>
				
			</thead>
		</table> 
	</div> 
	<div><!-- ng-show="!mostraLoaderGrid" -->
		<div ng-show="mostraLoaderGrid" class="modal-footer">
			<div class="row">
				<div class="col-md-12 text-center"><img
					src="images/loader.gif" class="loaderTable-table"></div>
			</div>
		</div>
		<table  ng-show="!mostraLoaderGrid" class="table table-bordered table-hover table-condensed table-scroll">
			<tbody >
				<tr ng-repeat="item in filterData =
					(  data | filter: options.global || undefined 
					) | limitTo:itemsPerPage:itemsPerPage*(currentPage-1) as resultsFiltered" ng-class="{'warning': item.DATA_ELABORAZIONE == ''}">
					<td resize conf-header="configGridUI" field="{{key}}" type="body" ng-if="value.visible" 
						ng-repeat="(key , value) in configGridUI" class="small"
						
						ng-class="{	'danger' : buttonFunctionGrid.preview.visible && buttonFunctionGrid.download.visible && !item.DATA_CREAZIONE_DDT && item.ESITO_CREAZIONE_DDT !== 'OK',
						'warning' : item.STATO === 'CHIUSA' && item.MOTIVO !== ''
						
						}"
						
							nowrap>
						<div  ng-if="key ==='FUNCTION' && value.visible" class="btn-group-xs" ng-show="showFunction">
							<!-- nuove funzionalita delal gestione richieste -->
							<button ng-if="buttonFunctionGrid.modificaRecord.visible"
											ng-disabled="!item.modificaRecord || item.hiddenButton "
											tooltip-placement="bottom-left"
											uib-tooltip="{{buttonFunctionGrid.modificaRecord.label}}"
											type="button"
											class="{{buttonFunctionGrid.modificaRecord.classe}}"
											ng-click="openModalForm(item,buttonFunctionGrid.modificaRecord.azione);">
								<i class="{{buttonFunctionGrid.modificaRecord.icon}}"></i>
							</button>
							<button ng-if="buttonFunctionGrid.sottomettiRecord.visible"
											ng-disabled="!item.sottomettiRecord || item.hiddenButton "
											tooltip-placement="bottom-left"
											uib-tooltip="{{buttonFunctionGrid.sottomettiRecord.label}}"
											type="button"
											class="{{buttonFunctionGrid.sottomettiRecord.classe}}"
											ng-click="sottomettiHeaderPratica(item,buttonFunctionGrid.sottomettiRecord.azione,'SOTTOMETTI');">
								<i class="{{buttonFunctionGrid.sottomettiRecord.icon}}"></i>
							</button>
							
							<button ng-if="buttonFunctionGrid.sottomettiStato.visible"
											ng-disabled="!item.sottomettiStato || item.hiddenButton "
											tooltip-placement="bottom-left"
											uib-tooltip="{{buttonFunctionGrid.sottomettiStato.label}}"
											type="button"
											class="{{buttonFunctionGrid.sottomettiStato.classe}}"
											ng-click="sottomettiHeaderPratica(item,buttonFunctionGrid.sottomettiStato.azione,'SOTTOMETTI_STATO');">
								<i class="{{buttonFunctionGrid.sottomettiStato.icon}}"></i>
							</button>
							
							<button ng-if="buttonFunctionGrid.gestisciRecord.visible"
											ng-disabled="!item.gestisciRecord || item.hiddenButton "
											tooltip-placement="bottom-left"
											uib-tooltip="{{buttonFunctionGrid.gestisciRecord.label}}"
											type="button"
											class="{{buttonFunctionGrid.gestisciRecord.classe}}"
											ng-click="openModalFormGestito(item,buttonFunctionGrid.gestisciRecord.azione);">
								<i class="{{buttonFunctionGrid.gestisciRecord.icon}}"></i>
							</button>

							<badge
								style="float: right;margin-right: 2px;margin-top: 2px"
								ng-if="item.SOURCE === 'CS01'"
								class="round round-xs hollow orange"
								tooltip-placement="bottom-left"
								uib-tooltip="{{item.SOURCE}}">
								<i class="fa fa-arrow-left"></i></badge>
							<badge
								style="float: right;margin-right: 2px;margin-top: 2px"
								ng-if="item.SOURCE !=='CS01'"
								class="round round-xs hollow green"
								tooltip-placement="bottom-left"
								uib-tooltip="{{item.SOURCE}}"
							><i class="fa fa-arrow-right"></i></badge>
						</div>

						<div ng-if="key !=='FUNCTION'"
								 ng-style="value.icon && item[key] > 0 && {'text-align':'center','color': '#64ABD4','font-weight':'bold'} ||
													 value.icon && item[key] == 0 && {'text-align':'center'}"
								 ng-class="{'text-center-table text-left': value.type === 'string' , 'text-center-table text-right' : value.type === 'number' || value.type === 'date'}">
							<span ng-if="value.type === 'number'&& (value.name !== 'ID_CS01' && value.name !== 'ID_POLARYS' && value.name !== 'ID_SOURCE')">{{item[key]}}</span>
							<span ng-if="value.type === 'date'">{{item[key] | artDateToStrDateTimeShort}}</span>
							<span ng-if="value.type !== 'number' && value.type !== 'date'">{{item[key]}}</span>
							<span ng-if="value.type === 'number' && value.name === 'ID_CS01'"> 
								<a href="javascript:void(0);" ng-click="openLinkToCs01(item,buttonFunctionGrid.sottomettiRecord.azione);">{{item[key]}}</a>
							</span>
							<span ng-if="value.type === 'number' && value.name === 'ID_SOURCE'">
								<a href="javascript:void(0);" ng-click="openLinkToVediActPolarys(item.ID_SOURCE,buttonFunctionGrid.sottomettiRecord.azione);">{{item[key]}}</a>
							</span>
							<span ng-if="value.type === 'number' && value.name === 'ID_POLARYS'">
								<a href="javascript:void(0);" ng-click="openLinkToVediActPolarys(item.ID_POLARYS,buttonFunctionGrid.sottomettiRecord.azione);">{{item[key]}}</a>
							</span>
						</div>
					</td>
				</tr>
				<div ng-if="resultsFiltered == 0 && !mostraLoaderGrid" class="alert" ng-class="coloreColUI">
					<button type="button" class="close" ng-click="clearFiltersAndOrdering()" aria-hidden="true">
						<i ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate': mostraLoaderLWZ, 'glyphicon glyphicon-refresh':!mostraLoaderLWZ}"></i>
					</button>
					<h4>
						<i class="icon fa fa-info"></i>
						<translate>Alert</translate>
					</h4>
					<translate>Nessun Dato trovato</translate>
				</div>
			</tbody>
		</table>
	</div>
</div>
<div class="box-footer" ng-show="(totalItems >  0) && !options.hiddenPagination">
	<div class="row">
		<div class="col-md-4 col-xs-4 col-lg-4" style="padding-top: 7px;">
			<span class="text-muted">Visualizzati
				{{((currentPage*itemsPerPage)-itemsPerPage)+1}}
				-
				{{((currentPage*itemsPerPage)-itemsPerPage)+resultsFiltered.length}}
				di
				{{filterData.length}}
				record
			</span>
		</div>
		<div class="col-md-3 col-xs-3 col-lg-3">
				<div class="col-md-3 col-xs-3 col-lg-3" style="padding-top: 5px;">
					<span class="text-muted" translate>Mostra: </span>
				</div>
				<div class="col-md-6 col-xs-6 col-lg-6">
					<select ng-model="itemsPerPage" class="form-control input-sm" ng-options="values for values in pager">
						<option>itemsPerPage</option>
					</select>
				</div>
				<div class="col-md-3 col-xs-3 col-lg-3" style="padding-top: 5px;">
					<span class="text-muted"  translate>record</span>
				</div>
		</div>
		<div class="col-md-5 col-xs-5 col-lg-5">
			<uib-pagination class="pull-right pagination-sm no-margin"
				total-items="filterData.length"
				rotate = "true"
				max-size ="maxSizePager"
				boundary-links = "true"
				first-text = "Prima"
				last-text  = "Ultima"
				force-ellipses = "true"
				next-text = ">"
				previous-text = "<"
				boundary-link-numbers = "false"
				ng-model="currentPage"
				ng-change="pageChanged()"
				items-per-page="itemsPerPage">
			</uib-pagination>
		</div>
	</div>
</div>
