<header class="main-header">

	
	<!-- navbar-fixed-top -->
	<nav class="navbar navbar-static-top" role="navigation">

		<div class="navbar-header">
			<!--<a ui-sref="index"> <img src="images/navbar-sirti4.png" class="logoSirti" style="margin-top:  5px; margin-left: 5px;"> </a>-->
			<span ui-sref="index" ng-click="clickTipoMenu('MAIN');" style="cursor: pointer"> <img src="images/navbar-sirti4.png" class="logoSirti" style="margin-top:  5px; margin-left: 5px;"> </span>
		</div>	

		<div class="navbar-header">	
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="javascript.void(0)" class="sidebar-toggle" data-toggle="dropdown" aria-expanded="false"></a>
					<ul class="dropdown-menu" role="menu" style="width: 200px !important;">
						<div ng-repeat="(key,value) in configMainMenu" ng-if="configMainMenu[key].visibled">
							<li>
								<a
									 ng-style="configMainMenu[key].disabled ? {'cursor': 'no-drop'}  : {'cursor': 'pointer'}"
									 href="javascript.void(0)" ui-sref="{{configMainMenu[key].url}}"
									 ui-sref-if="configMainMenu[key].disabled"
									 style="padding-left: 5px;color: {{configMainMenu[key].colorB}}">{{configMainMenu[key].label}}
								</a>
							</li>											
							<li ng-show="configMainMenu[key].divider" class="divider"></li>
						</div>
					</ul>
				</li>
			 </ul>
		</div>

		
		<div class="navbar-custom-menu">

			<ul class="nav navbar-nav">
			
				<li class="dropdown user user-menu">
					<a href="javascript.void(0)" class="dropdown-toggle" data-toggle="dropdown">
						<i class="glyphicon glyphicon-user"></i>
						<span class="">{{userProfile.nome}} {{userProfile.cognome}}</span>
					</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header" style="height: 90px !important;" ng-if="false">
							<p>
								<!--<small>Member since Nov. 2012</small>-->
								<small ng-if="userProfile.nomeUtente === 'ROOT'">ROOT</small>
								<small ng-if="Adc.profilo.isProjectManager">PROJECT MANAGER</small>
								<small ng-if="Adc.profilo.isMagazziniere">MAGAZZINIERE</small>
							</p>
						</li>
						<!-- Menu Body -->
						<li class="user-body" ng-if="true">
							<label>Lista Gruppi:</label>
							<div class="row" ng-if="profilo.admin">
								<div class="col-xs-6">
									<span>TUTTI</span>
								</div>
							</div>
							<div class="row" ng-if="!profilo.admin">
								<div ng-repeat = "rGruppo in profilo.gruppi" class="col-xs-6">
									<span>{{rGruppo}}</span>
								</div>
							</div>
							<!-- /.row -->
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-right">
								<a href="{{linkLogOut}}"><i class="fa fa-sign-out fa-2x"></i></a>
							</div>
							<div class="pull-left">
								<a href="javascript:void(0)" ui-sref="index"> <i class="fa fa-home fa-2x"></i> </a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		
	</nav>
</header>